grpcio==1.62.1
grpcio-tools==1.62.1
protobuf==4.25.3 

pyecharts==2.0.5 
geopandas==0.14.3 

-f https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.1.0+cpu
-f https://pytorch-geometric.com/whl/torch-2.1.0+cpu.html
torch_geometric
